.cat ul{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-right: 50px;
}

.cat a{
    border-radius: 8px;
    padding: 10px 0;
    border: 5px solid hsl(0, 92%, 85%);
    width: 200px;
    text-align: center;
}
.cat a:hover{
    background-color:  rgb(52, 52, 52);
    color: #fff;
}
.cat a:focus{
    background-color:  rgb(52, 52, 52);
    color: #fff;
}